<form>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Resultado da busca</h1>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <td>Arquivo</td>
              <td>Caminho</td>
              <td>Ação</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
              </td>
              <td></td>
              <td>

              </td>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
